.swn {
  background: url("/systems/swn/resources/DarkRaysinIC5063.png") no-repeat;
  background-size: 100% 100%;
}

.swn .window-content {
  background: #0000000d;
}

.swn input, .swn button, .swn .editor, .swn .editor-content, .swn label {
  background: #DDD;
}

.swn .inputName:before {
  background-color: #CCC;
}

.swn .skillList, .swn .settings-saves {
  border-color: #888;
  background-color: #AAA;
}

.swn .attribute-group .attribute-mod {
  background-color: #CCC;
}

.swn .tabs .item {
  background: #CCC;
}

.swn .tabs .item.active {
  background: #fafafa;
}

.swn .item-list .item {
  border-bottom: 1px solid #BBB;
}

.swn .attributes-header {
  background: #cfcdc2;
  border: 1px solid #AAA;
}

.swn .attributes-list li > * {
  border-bottom: 1px solid #AAA;
}

.swn .group-header {
  border: 1px solid #AAA;
}

.swn .group-key, .swn .group-label {
  border-bottom: 1px solid #AAA;
}

.swn .inputName:before {
  border-color: #000;
}
