<div class="tab description" data-group="primary" data-tab="skills">
  <div class="skillsHeader flexrow">
    <button class="addSkill" id="addSkill" type="button">{{ localize "SWN.addskill" }}</button>
    <button class="addSkill" id="addSpecialty" type="button">{{ localize "SWN.addspecialty" }}</button>
  </div>
  <hr/>
</div>
