<div class="tab description" data-group="primary" data-tab="settings">
  <div>Various character-specific settings.</div>
  <hr/>
  <label>
    <input type="checkbox" name="data.psionics.enabled" {{#if actorData.psionics.enabled}}checked{{/if}}/>
    <span>{{localize "SWN.PlayerSettings.psionics"}}</span>
  </label>
</div>
