<div class="tab description" data-group="primary" data-tab="notes">
  <div>This is some notes!</div>
  <hr/>
  {{editor content=notes.other target="data.notes.other" button=true owner=owner editable=editable rollData=rollData}}
</div>
